<h1>Ausrüstung</h1>
<h2>Fahrzeuge</h2>

<h3>Löschgruppenfahrzeug <span class="text-nowrap">(LF 10/6)</span></h3>
<p>Dieses Fahrzeug bietet Platz für eine komplette Löschgruppe von neun Personen. Es ist mit seiner Ausstattung für Brände aber auch für Technische Hilfeleistungen kleineren Umfangs ausgestattet. Durch die Einzelbereifung und die hohe Bodenfreiheit ist es auch in schwierigem Gelände gut einsetzbar. Der Wassertank hat einen Inhalt von 1.000 Litern. Besonders zu erwähnen ist hier aber das vorhandene Schlauchmaterial von 30 Längen B-Schlauches. Hiermit lässt sich eine Wasserförderung über 600 m aufbauen.</p>

<div class="row" style="margin-bottom: 10px">
    <div class="col-sm-6 col-sm-push-6">
        <img src="img/loeschgruppenfahrzeug-lf-10-6.jpg" alt="Löschgruppenfahrzeug (LF 10/6)" class="img-responsive img-thumbnail" style="margin-bottom: 10px"/>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        <h4>Auszug aus der Beladung</h4>
        <ul>
            <li>30 B-Schläuche</li>
            <li>12 C-Schläuche</li>
            <li>4-fache Steckleiter<br>(reicht bis zum 2. Obergeschoss)</li>
            <li>120 l Schaummittel</li>
            <li>Lichtmast mit 2 Strahlern à <span class="text-nowrap">1.000 W</span></li>
            <li>Motorsäge</li>
            <li>Stromerzeuger</li>
            <li>Hochdrucklüfter</li>
        </ul>
    </div>
</div>

<h4>Technische Daten</h4>
<table class="table">
    <tr><th>Gesamtgewicht</th><td>11 t</td></tr>
    <tr><th>Leistung</th><td>185 kW <span class="text-nowrap">(ca. 252 PS)</span></td></tr>
    <tr><th>Höchstge<span class="visible-xs-inline">-<br></span>schwindigkeit</th><td>90 km/h</td></tr>
    <tr><th>Pumpenleistung</th><td>1.000 l/min</td></tr>
    <tr><th>Baujahr</th><td>2009</td></tr>
</table>












