<h1>Impressum</h1>
<p>
  Verantwortlich für den Inhalt dieser Seite ist die Freiwillige Feuerwehr Bergneustadt, Löschzug IV (Hackenberg-Leienbach) vertreten durch den Zugführer:
</p>
<p>
  Stefan Brand<br>
  Brunnenstr. 3<br>
  51702 Bergneustadt
</p>
<p style="margin-bottom: 20px">
  Telefon: 02261/44591<br>
  E-Mail-Adresse: <a href="mailto:fam.brand@freenet.de">fam.brand@freenet.de</a>
</p>
<h2>Haftungshinweis</h2>
<p>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich
  deren Betreiber verantwortlich.
</p>
