<h1>Lebensretter gesucht.</h1>
<h2 style="margin-bottom:20px">Komm zur freiwilligen Feuerwehr!</h2>

<p>Die freiwilligen Feuerwehren müssen intensiv um Mitglieder werben. Die Zeiten, wo junge Leute von selbst
    und aus eigenem Antrieb in die Feuerwehr eintraten, sind längst vorbei.</p>

<p>Die Idee der freiwilligen Feuerwehr ist aber nicht von gestern. Dies wissen auch die Bergneustädter.
    Bei Feuerwehreinsätzen hört man immer wieder von Betroffenen und Beobachtern, dass man sich auf die Feuerwehr
    verlassen könne. Mit ihrer Spende bei der alljährlichen Haussammlung wollen die Bürger die Feuerwehr ganz
    bewusst unterstützen.  Nicht zuletzt besuchen viele „Neustädter“ die Feste der Feuerwehr aus traditioneller
    Verbundenheit und Freundschaft.</p>

<p><strong>Wir suchen Verstärkung!</strong></p>

<p style="margin-bottom:2px">Du bist</p>
<ul>
    <li>mindestens 18 Jahre alt</li>
    <li>körperlich fit und belastbar</li>
    <li>teamfähig</li>
    <li>technikinteressiert</li>
</ul>

<p style="margin-bottom:2px">Wir bieten</p>
<ul>
    <li>ein nicht alltägliches, spannendes „Hobby“</li>
    <li>Kenntnisse und Fertigkeiten auch für den Alltag</li>
    <li>Gemeinschaft in einem starken Team</li>
    <li>Ausbildung und Umgang mit moderner Technik</li>
    <li>Weiterbildung bis in Führungsebenen</li>
    <li>Kameradschaft und Freizeiterlebnisse</li>
</ul>

<p>Haben wir dein Interesse geweckt?</p>

<p>Dann melde dich einfach per <a href="mailto:shatzig@t-online.de">E-Mail</a> (weitere Kontakdaten im <a href="impressum.html">Impressum</a>) oder komm an einem unserer Übungstermine zum
    Gerätehaus, Breslauer Straße 8.</p>