<div class="modal-content modal-party">
    <div class="modal-header">
        <button class="close" type="button" data-ng-click="close()">×</button>
        <h4 class="modal-title">
            Feuerwehrfest Hackenberg
            <img src="img/rlbs.svg" alt="Retten Löschen Bergen Schützen">
        </h4>
    </div>
    <div class="modal-body">

        <h2>05. und 06. August</h2>

        <h3>Samstag, 05.08. ab 18 Uhr</h3>
        <p>Party mit DJ Robssounds</p>

        <h3>Sonntag, 06.08. ab 11 Uhr</h3>
        <p>Frühschoppen mit Musikzug der Feuerwehr Bergneustadt</p>

        <h3>Ab 14 Uhr:</h3>
        <p>Familiennachmittag mit Kaffee, Kuchen und Kinderprogramm</p>

    </div>
    <div class="modal-footer">
        <img src="img/flamme.svg" alt="">
        <span>Am Feuerwehrgerätehaus</span>
        <img src="img/flamme.svg" alt="">
    </div>
</div>
