<div class="modal-content modal-party">
    <div class="modal-header">
        <button class="close" type="button" data-ng-click="close()">×</button>
        <h4 class="modal-title">
            130 Jahre Löschzug Hackenberg
            <img src="img/rlbs.svg" alt="Retten Löschen Bergen Schützen">
        </h4>
    </div>
    <div class="modal-body">
        <h3>08. September 2024 10-18 Uhr</h3>
        <ul style="padding: 0 0 0 15px; margin: 15px 0 0 0; line-height: 1.2; display: flex; flex-direction: column; gap: 8px">
            <li>Frühshoppen</li>
            <li>15 Uhr Show Übung</li>
            <li>Familiennachmittag mit Kaffee, Kuchen und Kinderprogramm</li>
            <li>Kinderprogramm &amp; Hüpfburg</li>
            <li>Für das leibliche Wohl ist gesorgt</li>
        </ul>
    </div>
    <div class="modal-footer">
        <img src="img/flamme.svg" alt="">
        <span>Am Feuerwehrgerätehaus</span>
        <img src="img/flamme.svg" alt="">
    </div>
</div>
