<h1>Personal</h1>
<p>In unserem Löschzug sind derzeit n Kameraden und Kameradinnen aktiv.</p>
<ul>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
    <li>Herr A. Nachname (Dienstgrad)</li>
</ul>
<p>Das Durchschnittsalter unseres Personals beträgt %.2f Jahre bei einer durchschnittlichen Dienstzeit von %.2f Jahren.</p>
<p>Durchschnittlicher Ausbildungsgrad unserer Einheit: Unterbrandmeister / Unterbrandmeisterin.</p>
<p>
    <img src="img/mannschaft.jpg" alt="Mannschaft" class="img-responsive">
</p>