<div id="schluckspecht">

	<h1>Schluckspechtpokal 2022</h1>

	<h2>Beschreibung:</h2>
	<p>
		Für den Schluckspechtpokal finden sich Teams aus 4 bis 9 Personen zusammen.
	</p>
	<p>
		Während des Schluckspechtpokals wird die Menge des bestellten Biers der
		einzelnen Teams digital erfasst und auf einem Bildschirm live angezeigt.
		Das Team mit den meisten bestellten Bieren am Ende des vorgegebenen
		Zeitraums (3 Stunden) gewinnt den diesjährigen Schluckspechtpokal.
	</p>

	<h2>Spielregeln:</h2>
	<ul>
		<li>Ein Team besteht aus 4 bis 9 Teilnehmern</li>
		<li>Die Teilnehmer sind mindestens 16 Jahre alt</li>
		<li>Erfasst wird die bestellte Menge an Bier eines jeden Teams zwischen Start und Ende (3 Stunden)</li>
		<li>Nur vorher vom Team angemeldete Teilnehmer werden in die Wertung berücksichtigt</li>
		<li>Bierbestellungen sind vom Teamkapitän an der ausgewiesenen Zapfstelle vorzunehmen</li>
		<li>1. Platz, 2. Platz und 3. Platz erhalten nach Durchführung des Events einen Pokal</li>
	</ul>

	<h2>Ablauf:</h2>
	<ul>
		<li>Start: 06.08.2022 um 19:00 Uhr</li>
		<li>Ende: 06.08.2022 um 22:00 Uhr</li>
		<li>
			Anmeldungen der Teams im Vorfeld über die Homepage oder vor Ort am 06.08.2022 von 18:00 Uhr bis 18:45 Uhr
		</li>
		<li>Siegerehrung um 22:15 Uhr</li>
	</ul>

	<div ng-show="!registration">
		<p class="text-success">{{message}}</p>
		<button ng-click="registration = true" class="btn btn-primary">Jetzt anmelden</button>
	</div>

	<div ng-show="registration">
		<h2>Anmeldung:</h2>
		<p>Für eine Teilnahme am Schluckspechtpokal bitte die folgenden Felder ausfüllen</p>
		<form name="form" ng-submit="FormSubmit()">
			<div>
				<div id="teamnameRow" class="row">
					<div class="col-md-3">
						<label for="teamname">Teamname</label>
					</div>
					<div class="col-md-9 form-group">
						<input id="teamname" type="text" name="teamname" class="form-control" ng-model="team">
					</div>
				</div>
				<div id="participantsRow" class="row">
					<div class="col-md-3">
						<label>Namen der Mitglieder</label>
						<p>4-9 Personen</p>
					</div>
					<div class="col-md-9 ">
						<div id="participants" class="form-group">
						<input type="text" class="form-control">
						<input type="text" class="form-control">
						<input type="text" class="form-control">
						<input type="text" class="form-control">
						</div>
						<button type="button" class="btn btn-secondary" ng-click="addInput()" ng-show="count <= 9">
							+ Teilnehmer hinzufügen
						</button>
						<button
							type="button" class="btn btn-secondary" data-ng-click="removeInput()" ng-show="count > 5"
						>
							- Teilnehmer entfernen
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-3">
						<p ng-repeat="e in error" class="text-danger">{{e}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-3">
						<button type="submit" class="btn btn-primary">Anmelden</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
