<div id="schluckspecht-bestellungen" xmlns="http://www.w3.org/1999/html">
	<h1>Schluckspechtpokal 2022</h1>
	<h2>Bestellungen buchen</h2>
	<div ng-show="!passwordSuccess" id="password">
		<h3>Bitte Passwort eingeben</h3>
		<input type="text" ng-model="entry">
		<button type="button" class="btn btn-primary" ng-click="passwordcheck(entry)">senden</button>
	</div>
	<div ng-show="passwordSuccess">
		<div id="counter">
			<h3>{{count}}</h3>
		</div>
		<div id="buttonbar">
			<div class="button add" ng-click="count = count+1">+1</div>
			<div class="button add" ng-click="count = count+3">+3</div>
			<div class="button add" ng-click="count = count+5">+5</div>
			<div class="button add" ng-click="count = count+10">+10</div>
			<div class="button reset" ng-click="count = 0">reset</div>
		</div>
		<div id="message" ng-if="message">
			<p class="success">{{successmessage}}</p>
		</div>

		<div id="teams" class="row">
			<div ng-repeat="t in teams" id="{{t.id}}" class="teamnameButton col-md-3 col-xs-12"
				 ng-click="book(t.id, count)">{{t.name}}</div>
		</div>
		<div id="bookingReset"  ng-if="booking">
			<button ng-click="resetBooking()" class="resetButton">Letzte Buchung rückgängig machen</button>
		</div>
	</div>
</div>
