<div class="row">

	<div class="col-md-6">
		<div class="news-block">
			<h1>Herzlich Willkommen auf unserer Webseite</h1>
			<p>
				Wir möchten diese Seite gerne dafür verwenden, Sie über unseren Löschzug und seine Aktivitäten zu informieren.
				Über das Hauptmenü finden Sie Informationen zu aktuellen Veranstaltungen, vergangenen Einsätzen und unserer
				technischen Ausstattung. Darüber hinaus bieten wir einen Blick auf unsere über einhundert Jahre währende
				Geschichte und möchten Sie gerne dazu Einladen, diese Geschichte gemeinsam mit uns fortzuführen.
			</p>
			<p>
				Sollten Sie Fragen haben oder etwas anregen wollen, würden wir uns über eine Kontaktaufnahme sehr freuen.
				Kontaktmöglichkeiten finden Sie über das Impressum.
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<img src="img/hackenberg-2015-05.jpg" alt="Hackenberg im Mai 2015" class="img-responsive img-thumbnail">
		<p class="small text-center" style="margin: 5px 0 20px 0">Der Hackenberg im Mai 2015&nbsp;<br class="visible-xs-inline visible-md-inline">vom Aussichtsturm aus gesehen.</p>
	</div>

</div>

<div class="news-block" style="border: 5px solid #ed1c24; padding: 10px">
	<h2>Feuerwehrfest Hackenberg 05. und 06. August 2023</h2>
	<p>
		<strong>Samstag, 05.08. ab 18 Uhr</strong><br>
		Party mit DJ Robssounds
	</p>
	<p>
		<strong>Sonntag, 06.08. ab 11 Uhr</strong><br>
		Frühschoppen mit Musikzug der Feuerwehr Bergneustadt
	</p>
	<p>
		<strong>Ab 14 Uhr:</strong><br>
		Familiennachmittag mit Kaffee, Kuchen und Kinderprogramm
	</p>
	<p>
		<strong>Am Feuerwehrgerätehaus</strong>
	</p>
</div>

<div class="row">
	<div class="col-sm-8">
		<img src="img/karte-bergneustadt-hackenberg-leienbach.png" alt="Karte von Bergneustadt mit der Lage unseres Kerngebietes" class="img-responsive">
		<p class="small" style="margin-top: 5px">Karte von Bergneustadt mit der Lage unseres Kerngebietes</p>
	</div>
	<div class="col-sm-4">
		<img src="img/feuerwehrmann-auf-einer-leiter.jpg" alt="Feuerwehrmann auf einer Leiter" class="img-responsive">
	</div>
</div>
