<div class="news-block">
    <h1>Herzlich Willkommen auf unserer Webseite</h1>
    <p>Wir möchten diese Seite gerne dafür verwenden, Sie über unseren Löschzug und seine Aktivitäten zu informieren.
        Über das Hauptmenü finden Sie Informationen zu aktuellen Veranstaltungen, vergangenen Einsätzen und unserer
        technischen Ausstattung. Darüber hinaus bieten wir einen Blick auf unsere über einhundert Jahre währende
        Geschichte und möchten Sie gerne dazu Einladen, diese Geschichte gemeinsam mit uns fortzuführen.</p>

    <p>Sollten Sie Fragen haben oder etwas anregen wollen, würden wir uns über eine Kontaktaufnahme sehr freuen.
        Kontaktmöglichkeiten finden Sie über das Impressum. </p>
</div>

<div class="news-block">
    <h2>Jahresdienstbesprechung des Löschzuges Hackenberg am 26.02.2016</h2>
    <p>
        Am Freitag, den 26.02. fand im Gerätehaus in der Breslauerstrasse wieder die alljährliche
        Dienstbesprechung statt.<br><a href="{{apiEndpointUrl()}}/documents/jahresdienstbesprechung-2016.pdf">Vollständiger Bericht</a>
    </p>
</div>

<div class="news-block">
    <h2>Jahresdienstbesprechung des Löschzuges Hackenberg am 07.02.2015</h2>
    <p>
        Am Samstag, den 07.02. fand im Gerätehaus in der Breslauerstrasse wieder die alljährliche
        Dienstbesprechung statt.<br><a href="{{apiEndpointUrl()}}/documents/jahresdienstbesprechung-2015.pdf">Vollständiger Bericht</a>
    </p>
</div>


<div class="news-block">
    <h2>Tag der offenen Tür</h2>
    <p>
        <a href="tag-der-offenen-tuer-2014"><img src="img/tag-der-offenen-tuer-2014/betrieb-der-handdruckspritze-thumb.jpg" width="150" height="100" alt="Tag der offenen Tür"/></a>
        Am Sonntag, den 27.04.2014 veranstaltete der Löschzug Hackenberg der Feuerwehr Bergneustadt einen Tag der offenen Tür. Anlass dieser Veranstaltung war das 120-jährige Bestehen des Löschzuges.
        <a href="tag-der-offenen-tuer-2014">Artikel und Bilder</a>
    </p>
</div>

<div class="row">
    <div class="col-sm-8">
        <img src="img/karte-bergneustadt-hackenberg-leienbach.png" alt="Karte von Bergneustadt mit der Lage unseres Kerngebietes" class="img-responsive">
        <p>Karte von Bergneustadt mit der Lage unseres Kerngebietes</p>
    </div>
    <div class="col-sm-4">
        <img src="img/feuerwehrmann-auf-einer-leiter.jpg" alt="Feuerwehrmann auf einer Leiter" class="img-responsive">
    </div>
</div>