<h1>Tag der offenen Tür 2014</h1>
<p>
    Am Sonntag, den 27.04.2014 veranstaltete der Löschzug Hackenberg der Feuerwehr Bergneustadt einen Tag der offenen Tür.
    Anlass dieser Veranstaltung war das 120-jährige Bestehen des Löschzuges der am 27.November 1894 als Freiwillige
    Feuerwehr Hackenberg-Leienbach gegründet worden war. Seit 1934 ist man in die Feuerwehr der Stadt Bergneustadt
    eingegliedert und heißt seitdem Löschzug 4,Hackenberg. Am Morgen der Veranstaltung war es wettermäßig sehr schlecht,
    aber sozusagen pünktlich zum Beginn der Veranstaltung gegen 11 Uhr hörte es auf zu regnen und so fanden zahlreiche
    Bürger aus den Ortschaften Hackenberg und Leienbach den Weg zur Feuerwehr um sich dort über deren Arbeit zu
    informieren. Bei insgesamt 4 Vorführungen, nämlich einer Fettexplosion, die Übung der Jugendfeuerwehr Bergneustadt,
    der Rettung einer Person aus einer verrauchten Wohnung und einer historischen Löschübung kam keine Langeweile auf.
    Besonders die letztgenannte Historische Löschübung mit der Handdruckspritze, dem ersten Löschgerät des Zuges aus
    dem Jahr 1898, kam beim den Besuchern sehr gut an. Hier wurde ein brennender Palettenstapel abgelöscht. Das Wasser
    musste per Eimerkette in die Pumpe eingefüllt und dann mit Muskelkraft zum Strahlrohr gepumpt werden. Da zum Pumpen
    viele Hände gebraucht wurden, befahl der Gruppenführer der Übung Hilfe aus der Bevölkerung zu beschaffen. Dieses
    waren dann 4 Kandidaten für das Amt des Bürgermeisters und so mussten Fabian Middelhoff, Wilfried Holberg,
    Christian Baumhof und Jörg Haselbach kräftig mit anpacken um das Feuer zu löschen. Was aber den Kandidaten auch
    Spaß gemacht hat und einen Eindruck der Feuerwehrarbeit aus dem vergangenen Jahrhundert vermittelt hat.
</p>

<p>
    Natürlich konnten sich die Mitbürger auch bei der Ausstellung der neuesten Fahrzeuge der Feuerwehr Bergneustadt und
    an einem Infostand der Jugendfeuerwehr informieren und bei der notwendigen Verpflegung mit Getränken, Leckerem  vom
    Grill und Kaffee und Kuchen den Tag bei der Feuerwehr verbringen.
</p>

<div class="chronicle-thumb-container">

    <div class="chronicle-thumb" data-ng-repeat="image in images">
        <a data-ng-href="{{image.fullImage}}" data-ng-click="showImage($event,image)"><img src="" data-ng-src="{{image.thumbImage}}" width="150" height="100" alt="{{image.description}}" class="img-thumbnail"></a><br>
        {{image.description}}
    </div>

</div>