<h1>Termine</h1>

<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2022.pdf">Jahresübungsplan 2022</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2021.pdf">Jahresübungsplan 2021</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2020.pdf">Jahresübungsplan 2020</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2019.pdf">Jahresübungsplan 2019</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2018.pdf">Jahresübungsplan 2018</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2017.pdf">Jahresübungsplan 2017</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2016.pdf">Jahresübungsplan 2016</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2015.pdf">Jahresübungsplan 2015</a><br>
<a data-ng-href="{{apiEndpointUrl()}}/documents/jahresübungsplan-2014.pdf">Jahresübungsplan 2014</a><br>
