<!DOCTYPE html>
<html data-ng-app="app">
    <head lang="de">
        <meta charset="UTF-8">
        <meta name="author" content="Freiwillige Feuerwehr Bergneustadt - Löschzug IV (Hackenberg-Leienbach)">
        <meta name="robots" content="index,follow">
        <meta name="geo.region" content="DE">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Freiwillige Feuerwehr Bergneustadt - Löschzug IV (Hackenberg-Leienbach)</title>
        <base href="/">

        <!-- build:css:dist main.min.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css" href="less/main.less">
        <!-- /build -->

        <!-- build:js:dist main.min.js -->
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_de-de.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/moment/locale/de.js"></script>
        <script src="bower_components/angular-moment/angular-moment.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/less/dist/less.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/api.srv.js"></script>
        <script src="js/navbar.ctrl.js"></script>
        <script src="js/latest-operations.ctrl.js"></script>
        <script src="js/monthly-service.ctrl.js"></script>
        <script src="js/personnel.ctrl.js"></script>
        <script src="js/list-of-chiefs.ctrl.js"></script>
        <script src="js/chronicle.ctrl.js"></script>
        <script src="js/image-modal.ctrl.js"></script>
        <script src="js/operations.ctrl.js"></script>
        <script src="js/appointments.ctrl.js"></script>
        <script src="js/home-page.ctrl.js"></script>
        <script src="js/open-door-day-2014.js"></script>
        <!-- /build -->

    </head>
    <body>
        <div class="container">

            <div class="title">
                <div class="title-image"><img src="img/bergneustadt-wappen.png" height="72" width="48" alt="Bergneustadt-Wappen"></div>
                <div class="title-text">Freiwillige Feuerwehr<span class="hidden-xs">&nbsp;</span><br class="visible-xs">Bergneustadt<span class="visible-xs-inline">:&nbsp;</span><br class="hidden-xs">Löschzug IV<span class="hidden-xs">&nbsp;</span><br class="visible-xs">(Hackenberg-Leienbach)</div>
            </div>

            <nav class="navbar navbar-default" data-ng-controller="NavbarController">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Navigation einblenden</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <button class="navbar-brand visible-xs visible-sm btn btn-link" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menü</button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li data-ng-class="{'active':activeItem()==''}"><a href="/">Startseite</a></li>
                            <li data-ng-class="{'active':activeItem()=='termine'}"><a href="termine">Termine</a></li>
                            <li data-ng-class="{'active':activeItem()=='einsaetze'}"><a href="einsaetze">Einsätze</a></li>
                            <li data-ng-class="{'active':activeItem()=='personal'}"><a href="personal">Personal</a></li>
                            <li data-ng-class="{'active':activeItem()=='ausruestung'}"><a href="ausruestung">Ausrüstung</a></li>
                            <li data-ng-class="{'active':activeItem()=='mitmachen'}"><a href="mitmachen">Mitmachen</a></li>
                            <li data-ng-class="{'active':activeItem()=='chronik'}"><a href="chronik">Chronik</a></li>
                            <li><a href="http://bergneustadt112.de" target="_blank">Gesamtwehr</a></li>
                            <li data-ng-class="{'active':activeItem()=='impressum'}"><a href="impressum">Impressum</a></li>
                        </ul>
                    </div>

                </div>

            </nav>


            <div class="row">
                <div class="col-md-9">
                    <div class="content-box">
                        <div data-ng-view data-autoscroll></div>
                    </div>
                </div>
                <div class="col-md-3 col-md-right">
                    <div class="content-box">
                        <div class="latest-operation" data-ng-controller="LatestOperationsController">
                            <h2>Letzte Einsätze</h2>
                            <table data-ng-if="latestOperations">
                                <tr data-ng-repeat="operation in latestOperations">
                                    <th>{{operation.date*1000 | date:'dd.MM.yyyy'}}:</th>
                                    <td>{{operation.description}}</td>
                                </tr>
                            </table>
                            <p data-ng-if="latestOperations">
                              Der letzte Einsatz war <span data-ng-if="today">heute</span><span data-ng-if="!today" data-am-time-ago="latestDate"></span>.
                            </p>
                        </div>
                        <div class="monthly-service" data-ng-controller="MonthlyServiceController">
                            <h2>Monatsdienst</h2>
                            <span data-ng-repeat="person in currentlyOnDuty">{{person.firstName}} {{person.lastName}}{{!$last?', ':''}}</span><br>
                            <a data-ng-href="{{apiEndpointUrl()}}/documents/reinigungsplan.pdf">Reinigungsplan</a>
                        </div>
                        <div class="retten-loeschen-bergen-schuetzen">
                            <img src="img/retten-loeschen-bergen-schuetzen.png" width="96" height="96" alt="Retten Löschen Bergen Schützen"><br>
                            Retten Löschen<br>
                            Bergen Schützen
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-center">
                © 2013-2016<span class="hidden-xs">&nbsp;</span><br class="visible-xs">Freiwillige Feuerwehr Bergneustadt <span class="visible-md-inline visible-lg-inline">-</span><br class="visible-xs visible-sm"> Löschzug IV (Hackenberg-Leienbach) <span class="hidden-xs">·&nbsp;</span><br class="visible-xs"><a href="impressum">Impressum</a>
            </p>

        </div>
        <!-- build:remove:dist -->
        <script src="http://localhost:35729/livereload.js"></script>
        <div style="position:fixed; top: 5px; right: 5px; z-index:1000;">
            <span class="label label-default">
                Viewport:
                <span class="visible-lg-inline">lg</span>
                <span class="visible-md-inline">md</span>
                <span class="visible-sm-inline">sm</span>
                <span class="visible-xs-inline">xs</span>
            </span>
        </div>
        <!-- /build -->
    </body>
</html>